<form class="form-horizontal">
    <fieldset>

    <!-- Form Name -->
    <legend>Survey</legend>

    <!-- Textarea -->
    <div class="control-group">
      <label class="control-label" for="survey_introductory_text">Introductory Text</label>
      <div class="controls">
        <textarea id="survey_introductory_text" name="survey_introductory_text">e.g. Welcome! The objective of this survey will be ...</textarea>
      </div>
    </div>

    <!-- Textarea -->
    <div class="control-group">
      <label class="control-label" for="survey_goodbye_message">Goodbye Message</label>
      <div class="controls">
        <textarea id="survey_goodbye_message" name="survey_goodbye_message">e.g. Thank you for answering this survey</textarea>
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="survey_customer">Name</label>
      <div class="controls">
        <input id="survey_customer" name="survey_customer" type="text" placeholder="e.g. Emanuel" class="input-xlarge">
        <p class="help-block">Enter your name here if you wish (this field is not required)</p>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="control-group">
      <label class="control-label" for="survey_sex">Sex</label>
      <div class="controls">
        <select id="survey_sex" name="survey_sex" class="input-xlarge">
          <option>Female</option>
          <option>Male</option>
        </select>
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="survey_max_questions">Max Questions</label>
      <div class="controls">
        <input id="survey_max_questions" name="survey_max_questions" type="text" placeholder="e.g. 5" class="input-xlarge">
        <p class="help-block">Indicate whether the survey questions have a limit per user (this field is not required)</p>
      </div>
    </div>

    <!-- Textarea -->
    <div class="control-group">
      <label class="control-label" for="survey_comment">Comment</label>
      <div class="controls">
        <textarea id="survey_comment" name="survey_comment">Yur opinions are welcome here :)</textarea>
      </div>
    </div>

    <!-- Button -->
    <div class="control-group">
      <label class="control-label" for="singlebutton">Save</label>
      <div class="controls">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
      </div>
    </div>

    </fieldset>
</form>
